.container {
  display: flex;
  flex-direction: column;
  background-color: rosybrown;
  border: 5px solid white;
  width: calc(50% - 22px);
  height: calc(50% - 10px);
  text-align: center;
  align-self: center;
  font-size: large;
}

.message{
  font-size: small;
  margin-top: 20px;
}

button {
  background-color: transparent;
  border: 1px solid black;
  width: 200px;
  margin-top: 20px;
  align-self: center;
}